@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 70px auto auto;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    background-color: #f1faee;
}

h1, h2 {
    font-family:Signika, serif;
    text-align: center;

}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 2/3;
}

h1 {
    font-weight: 600;
    font-size: 4em;
    margin-top: 0px;

}

h2 {
    font-weight: 400;
}

* {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}


.logo_img {
    width: 200px;
}

.logo_container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.main_form {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}

.main_form * {
    margin: 5px;
}

#airport_input {
    width: 100%;
    padding: 10px 5px;
    font-size: 1.2rem;
}

button {
    padding-left: 20px;
    padding-right: 20px;
}

.recent_request_section {
    grid-column: 1/2;
    grid-row: 1/5;

}

.current_location_section {
    grid-column: 2/3;
}

.main_response {
    grid-column: 2/3;
}

.request_list {
    list-style: none;
    padding: 0px;
}

.request_list li {
    background-color: #343F4D;
    color: white;
    border-radius: 5px;
    padding:10px;
    margin: 5px;
    width: 150px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
}

.request_list li i {
    font-size: 2.5rem;
    grid-row: 1/4;
}

.station_name {
    grid-row: 1/2;
    grid-column: 2/3;
}

.wind_info {
    grid-row: 2/3;
    grid-column: 2/3;
}

.wind_information{
    text-align: center;
    background-color: #2DD881;
}

.temperature_information {
    background-color: #7C37B8;
    text-align: center;
}

.pressure_information {
    background-color: #20B1EA;
    text-align: center;
}

.qnh_info {
    grid-row: 3/4;
    grid-column: 2/3;
}

.metar_info {
    text-align: center;
}

.request_heading {
    text-align: left;
}


@keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
  
.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}

.loading_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.load-3 {
    display: flex;
    justify-content: center;
}


.btn {
    border-radius: 5px;
    color: white;
    border: none;
}

.main-btn {
    background-color: #20B1EA;
}

.second-btn {
    background-color: lightgray;
    color: black;
}

#airport_input {
    border-radius: 10px;
}

#airport_input:focus {
    outline-width: 0;
}

.wind_arrow {
    width: 200px;
    height: 135px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    font-size: 8rem;
}

.wind_arrow img {
    width: 350px;
    position: relative;
    top: 99px;
}

.vertical_bar {
    width: 50px;
    height: 135px;
    background-color: #343F4D;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 3%;
}

/*135 top y 7 px */
.indicator_1 {
    position: relative;
    top: 0px;
    background-color: #2DD881;
    width: 60px;
    height: 7px;
    
}
/*161px top y 33px bottom*/
.indicator_2 {
    position: relative;
    top: 50px;
    background-color: black;
    width: 60px;
    height: 7px;
    
}

.label_1_indicator {
    position: relative;
    top: 0px;
    left: 70px;
}

.label_2_indicator {
    position: relative;
    top: 50px;
    left: 70px;
}

.cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

.cards_container > div {
    border: 3px solid black;
    margin-right: 5px;
    border-radius: 15px;
    padding: 8px;

}

.press_item {
    transform: rotateY(180deg);
}

.press_item .label_1_indicator, .press_item .label_2_indicator {
    transform: rotateY(180deg);
    left: 60px;
}

.summary_info {
    margin-top: 8px;
    font-weight: bold;
}

.press_item .summary_info {
    transform: rotateY(180deg);
}

.cards_heading {
    font-family:Signika, serif;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.press_item .cards_heading {
    transform: rotateY(180deg);
}

.wind_arrow_container {
    display: flex;
    justify-content: center;
}




@media only screen and (max-width: 850px) {
    body .body_child {
        grid-column: 1/3;
    }

    .recent_request_section  {
        grid-row-start: -1;
    }

    .request_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .request_heading {
        text-align: center;
    }

    
}

@media only screen and (max-width: 650px) {
    .cards_container {
        grid-template-columns: auto;
    }

    .wind_information, .temperature_information, .pressure_information {
        margin: 0px;
        margin-bottom: 8px;
    }
}


.request_list .small_clouds i  {
    font-size: 20px;
    display: block;
}

.request_list .small_clouds i:nth-child(2)  {
    position: relative;
    margin-left: 20px;
}

.small_clouds {
    grid-row: 1/4;
    display: block;
}